<app-menu></app-menu>
<section class="heading">
    <span class="page-title font-weight-bold-italic">User List </span>
    <a routerLink='/user-create'>
      <img width='20' height='20' src='assets/add-icon.png' title='Add New User'>
  </a>
  </section>
  <table class="table table-sm table-striped">
    <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Password</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <th scope="col">Reviewer</th>
        <th scope="col">Admin</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let user of users'>
        <td>{{user.username}}</td>
        <td>{{user.password}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.email}}</td>
        <td>{{user.reviewer}}</td>
        <td>{{user.admin}}</td>
        <td>
          <a routerLink='/user-detail/{{user.id}}'>
            <img width='20' height='20' src='assets/details.png' title='User Details'>
          </a> |
          <a routerLink='/user-edit/{{user.id}}'>
            <img width='20' height='20' src='assets/pencil-icon.png' title='User Edit'>
          </a> 
        </td>
      </tr>
    </tbody>
  </table>
